// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}