// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

@media (max-width: 768px) {
  footer {
    bottom: 1.5rem;
    right: 0.5rem;
  }
}